appdirs==1.4.4
astroid==3.3.5
asttokens==2.4.1
black==24.10.0
chardet==5.2.0
click==8.1.7
colorama==0.4.6
decorator==5.1.1
diff_cover==9.2.0
dill==0.3.9
exceptiongroup==1.2.2
executing==2.1.0
iniconfig==2.0.0
ipython==8.18.1
isort==5.13.2
jedi==0.19.1
Jinja2==3.1.4
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.1
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
platformdirs==4.3.6
pluggy==1.5.0
prompt_toolkit==3.0.48
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
pylint==3.3.1
pytest==8.3.3
PyYAML==6.0.2
regex==2024.9.11
six==1.16.0
sqlfluff==3.2.5
stack-data==0.6.3
tblib==3.0.0
tokenize_rt==6.1.0
toml==0.10.2
tomli==2.0.2
tomlkit==0.13.2
tqdm==4.66.6
traitlets==5.14.3
typing_extensions==4.12.2
wcwidth==0.2.13
